<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133651623902-oq1b46gsb1osftitii6snr66i8j4cb5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133651623902-oq1b46gsb1osftitii6snr66i8j4cb5j</string>
	<key>API_KEY</key>
	<string>AIzaSyCeWtxyPzt5s0cuc0x2Z7zRj7i7kArjW9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>133651623902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adhilcallapp</string>
	<key>PROJECT_ID</key>
	<string>call-app-392a0</string>
	<key>STORAGE_BUCKET</key>
	<string>call-app-392a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133651623902:ios:28ef97b8af932b57d9774f</string>
</dict>
</plist>